<h4>Hello. I'm Arithmeticbird</h4>
<p><img src="/img/an.jpg" alt="Arithmeticbird" title="Follow me on Twitter @arithmeticbird"  class="profile-img img-rounded floatLeft" />	
	</br>		
I am a programmer, a bird lover and most importantly a human being.
</p>					

<p><a href="https://twitter.com/arithmeticbird" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @arithmeticbird</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/ab-arithmeticbird" rel="me" class="social github" title="Go to github.com/ab-arithmeticbird" target="_blank"></a></li>
	  <!--<li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>-->
	  <li><a href="http://www.twitter.com/arithmeticbird" rel="me" class="social twitter" title="Go to twitter.com/arithmeticbird" target="_blank"></a></li>
		
	</ul>
</p>